<!-- blog/templates/blog/post_detail.html -->
{% extends 'base.html' %}

{% block title %}
{{ publication.pub_title }} - Blog Parnaíba
{% endblock title %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
                <h2 class="post-title">{{ publication.pub_title }}</h2>
                <h3 class="post-subtitle">{{ publication.pub_text }}</h3>
                <p class="post-meta">
                    Publicado por <a href="#">{{ publication.author }}</a> em {{ publication.date_pub|date:"F d, Y" }}
                </p>
            </div>
            <p>{{ publication.pub_text }}</p>
        </div>
    </div>
</div>
{% endblock content %}
